@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

#banner{
    background-image: url('banner.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation-name: animacion;
    animation-duration: 1s;
}

@keyframes animacion {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
    animation-name: bajar;
    animation-duration: 1s;
}

@keyframes bajar {
    0%{
        transform: translateY(-100px);
    }
    100%{
        transform: translateY(0px);
    }
}

nav > h1{
    animation-name: logo;
    animation-duration: 1s;
    animation-delay: 1s;
}

@keyframes logo {
    70%{
        transform: scale(1.3) rotate(-10deg);
    }
    100%{
        transform: scale(1) rotate(0);
    }
}

#links{
    display: flex;
    column-gap: 25px;
}

#links > a{
    color: #262626;
    text-decoration: none;
    transition-duration: .2s;
    border-bottom: 3px transparent solid;
}

#links > a:hover{
    text-shadow: 1px 1px 3px black;
    transition-duration: .2s;
    border-bottom: 3px #F8C14E solid;
}

#titulo{
    font-size: 4rem;
    font-weight: bolder;
    color: #F8C14E;
    margin-left: 40px;
}

#boton{
    margin-left: 40px;
    color: #ffffff;
    background-color: #F8C14E;
    border-radius: 10px;
    width: fit-content;
    padding: 5px 10px;
    font-size: .7rem;
    font-weight: bold;
    cursor: pointer;
}